* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 50px 0;
}

.site-navigation {
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
    font-weight: bold;
}