    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,500&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    .main-navbar {
        max-width: 1280px;
        margin: 40px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar-logo #logo {
        text-decoration: none;
        font-size: 4rem;
        font-style: italic;
        color: #111111;
        font-weight: bold;
    }
    
    .navbar-logo span {
        color: #D6000D;
        font-size: 4rem;
    }
    
    .site-navigation {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    
    .navbar-links {
        margin: 20px;
        text-decoration: none;
        list-style: none;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    
    .navbar-links a {
        text-decoration: none;
        color: #111111;
    }
    
    .navbar-links a:hover {
        color: #e9a8ad;
    }
    
    .btn {
        background-color: #D6000D;
        border-radius: 10px;
        padding: 12px 70px;
        text-align: center;
        text-decoration: none;
        color: #ffff;
    }
    
    .btn:hover {
        color: #e9a8ad;
    }
    
    .navbar-links .btn-login {
        color: #ffff;
    }
    /*------ Home -------- */
    
    .img1 {
        max-width: 300px;
        margin: 32px;
        width: 100%;
    }
    
    .container-home {
        max-width: 1980px;
        display: flex;
        justify-content: center;
    }
    
    .texto {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .texto h2 {
        margin-bottom: 10px;
    }
    
    .texto h3 {
        font-size: 4rem;
        color: #D6000D;
        margin-bottom: 30px;
    }
    
    .btn-solicitar {
        width: 290px;
    }
    /*------ Serviços -------- */
    
    .container-servicos {
        max-width: 1280px;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    
    .navigation-servicos li {
        list-style-type: none;
        padding: 4px;
        font-size: 20px;
        margin: 16px 0;
    }
    
    .container-servicos .navigation-servicos .feather {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 16px;
        stroke: #D6000D;
    }
    
    @media (max-width: 800px) {
        .main-navbar {
            display: flex;
            flex-direction: column;
        }
        .navbar-links {
            display: flex;
        }
        .navbar-logo {
            width: 100%;
            text-align: center;
        }
        .btn-login {
            display: none;
            margin: 0;
        }
        .container-home {
            flex-direction: column;
        }
        .btn-solicitar {
            width: 280px;
        }
    }